<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>

</head>
<body ng-controller="mainCtrl">
	<nav class="navbar navbar-default navbar navbar-fixed-top text-center">
		<nav id="text-center">
			<a class="navbar-brand" style="float: none; line-height: 45px; margin-right: -55px" href="#">Smart House App</a>
			<div class="navbar-header pull-right">
				<button type="button" class="navbar-toggle collapsed" ng-click="showMenu = !showMenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div ng-class="{'collapse': !showMenu}" class="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Wood Burner</a></li>
					<li><a href="#">Water Pump</a></li>
				</ul>
			</div>
		</nav>
	</nav>

	<div ng-cloak class="page">
		<div class="tile text-center">
			<div class="flip-container" ng-class="{'turned': turnedAround}">
				<div class="flipper">
					<div class="front">
						<div ng-style="{transform: 'rotate('+needle()+'deg)'}" class="temp-needle"></div>
						<div title="Target Temperature" ng-style="{transform: 'rotate('+targetNeedle()+'deg)'}" class="temp-target"></div>
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="-10 -10 220 220" style="margin-top: -10px">
							<defs>
								<linearGradient id="redyel" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
									<stop offset="0%" stop-color="#FB5045"/>
									<stop offset="100%" stop-color="#FB984E"/>
								</linearGradient>
								<linearGradient id="red" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
									<stop offset="0%" stop-color="#FB3737"/>
									<stop offset="100%" stop-color="#FB5045"/>
								</linearGradient>
								<linearGradient id="yelgre" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
									<stop offset="0%" stop-color="#FB984E"/>
									<stop offset="100%" stop-color="#F8FB73"/>
								</linearGradient>
								<linearGradient id="grecya" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
									<stop offset="0%" stop-color="#F8FB73"/>
									<stop offset="100%" stop-color="#77FBEA"/>
								</linearGradient>
								<linearGradient id="cyablu" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
									<stop offset="0%" stop-color="#77FBEA"/>
									<stop offset="100%" stop-color="#5D83FF"/>
								</linearGradient>
								<linearGradient id="blumag" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
									<stop offset="0%" stop-color="#5D83FF"/>
									<stop offset="100%" stop-color="#5D83FF"/>
								</linearGradient>
								<linearGradient id="magred" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
									<stop offset="0%" stop-color="#5D83FF"/>
									<stop offset="100%" stop-color="#5D83FF"/>
								</linearGradient>
							</defs>

							<g fill="none" stroke-width="15" transform="translate(100,100)">
								<path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#red)"/>
								<path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#redyel)"/>
								<path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#yelgre)"/>
								<path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#grecya)"/>
								<path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cyablu)"/>
								<path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#blumag)"/>
							</g>
						</svg>
						<div class="temp">
							<span class="temp-text">{{vals.tmp}}&deg;</span>
							<div class="outside-fan" style="margin-left: auto; margin-right: auto">
								<div ng-class="{'rotating': vals.isHeating}" class="inside-fan"></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div style="width: 50%; margin-left: 40%; margin-top: 2em;">
							<div class="switch">
								<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="vals.killed" ng-change="fanCheck()">
								<label for="cmn-toggle-1"></label>
							</div>
						</div>
						<p ng-class="{'disabled': vals.killed}" style="margin-top: .75em;">Fan <span ng-show="vals.killed">Disabled</span><span ng-hide="vals.killed">Enabled</span></p>
					</div>
					<div class="back">
						<h5 style="margin-top: 5px">SETTINGS</h5>
						<form class="form-group" id="burningSettings" ng-submit="sendSync()">
							<div class="col-sm-6 col-xs-12">
								<label><small>Target Temp</small></label>
								<input type="number" ng-model="settings.targetTemp" class="form-control input-lg text-center" placeholder="130&deg;">
							</div>
							<div class="col-sm-6 col-xs-12">
								<label><small>Threshold</small></label>
								<input type="number" ng-model="settings.threshold" class="form-control input-lg text-center" placeholder="50&deg;">
							</div>
							<div class="col-sm-6 col-xs-12">
								<label><small>Kill Threshold</small></label>
								<input type="number" ng-model="settings.killThreshold" class="form-control input-lg text-center" placeholder="110&deg;">
							</div>
							<div class="form-group col-sm-6 col-xs-12">
								<label><small>Update Key</small></label>
								<input type="password" ng-model="settings.updateKey" class="form-control input-lg text-center" placeholder="PIN">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12">
								<button type="submit" class="btn btn-success btn-lg" style="width: 100%">Submit</button>
								<div class="clearfix"></div><br>
								<button type="reset" ng-click="settings = {}" class="btn btn-default" style="border: none !important">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 text-center" style="border-right: 4px solid #ccc">
		{{settings.targetTemp}}&deg;<br>
		Target Temp
	</div>
	<div class="col-xs-6 text-center">
		<div class="pointer" ng-show="!turnedAround" ng-click="turnedAround = true"><i class="fa fa-cog"></i><br>Settings</div>
		<div class="pointer" ng-show="turnedAround" ng-click="turnedAround = false"><i class="fa fa-times"></i><br>Cancel</div>
	</div>
	<div class="clearfix"></div>
	<footer class="text-center">
		<p>ksc4130 &amp; rconner614 &copy; {{copyright | date:'yyyy'}}</p>
	</footer>

    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script src="/app.js"></script>

</body>

</html>