<doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <style>
                @-webkit-keyframes rotate {
                  from {
                    -webkit-transform: rotate(0deg);
                  }
                  to {
                    -webkit-transform: rotate(-360deg);
                  }
                }
         
                .rotating
                {
                    -webkit-animation-name:   rotate;
                    -webkit-animation-duration:  .9s;
                    -webkit-animation-iteration-count:  infinite;
                    -webkit-animation-timing-function: linear;
                }
        </style>
    </head>
    <body ng-controller="mainCtrl" ng-cloak>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div ng-show="vals.tmp !== null" class="de">
                    <h1>
                        {{vals.tmp ? vals.tmp + '&deg;' : ''}}
                        <div style="background-image: url('/img/thingyoutsidefan.png'); height: 100px; width: 100px; background-size: cover; z-index: 100; position: relative;">
                            <div ng-class="{'rotating': vals.isHeating}" style="background-image: url('/img/fan.png'); position: absolute; left: 5px; top: 5px; height: 90px; width: 90px; background-size: cover; z-index: 3000">
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
        <br>
        <br>
   
        <div ng-show="vals.tmp !== null" class="row">
            <div class="col-md-6 col-md-offset-3">
                <button ng-show="vals.killed" class="btn btn-primary btn-block" ng-click="reset()">reset</button>
                <button ng-hide="vals.killed" class="btn btn-danger btn-block" ng-click="kill()">kill</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <div class="form-group">
                        <label>Target Temperature</label>
                        <input type="number" ng-model="settings.targetTemp" class="form-control"  placeholder="Target Temperature">
                    </div>
                    <div class="form-group">
                        <label>Threshold</label>
                        <input type="number" ng-model="settings.threshold" class="form-control" placeholder="Threshold">
                    </div>
                    <div class="form-group">
                        <label>Kill Threshold</label>
                        <input type="number" ng-model="settings.killThreshold" class="form-control" placeholder="Kill Threshold">
                    </div>
                    <button type="submit" ng-click="sendSync()" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        

        <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <scirpt src="ngGauge.js"></scirpt>

        <script src="/app.js"></script>
    </body>
</html>